body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  cursor:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABjUExURUdwTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP///zU1NekKH/z493d1dE1NTY9VKsnJyXZFITc3N5eXl+rq6h8fH1tbW/dlBt7e3vh1Iqurq/uvgbmhkP3WvX1JI+AvH9EAAAAKdFJOUwBnzz2rGvcIkOZVkbnzAAACCklEQVRYw+2Y23KDIBCGMVEjYvGQotaY9v3fsiIHg0FYbDq58b8ik+WbPbEwInRot/INHSATVKx0gP4BdJm0BeL/gTmq1DZQiFca9LnSblC50ntBxYbeB8orYlG/I0etDdSGg/ppW1NVjULIdR8MGqddVVHoAOV6DAYN0y6eXAWS6yEYRO0gCgCZI5XqcH5utztVoVHA4DVNBp3g29eku0z2EAwadckFiIofYzCo1yARmtGREFBdSxtHQy5WEFBFLaqgoLrWoPzDolyDhJ0TdPWDrl7QbHT1gbSJu2rKbBO0cDzlF4aMEL7VrBozOb4+4qYTxwKaSI8cx6nLJOmb2EHkW3Iy39EXpJJsgWgJ4yAUqyNrB4ljGwOm0Uk7ZAcR7tLJz0kWh8xpbbqUeEERv/MNDx4n9yz+BohAKWJuEAMliafIiOQpNNqAkoS3RpE5lLAXlMrB7xC/AFIQiLwC9LLQ/MkmsGS/rPyRcRVZQT2oIc/5umxPfcQtzgiUbebKNQPlWgykztFJtIONI5SkyxzZcihNENClVQesag9yaHKJZ6nbaMqWB4YT2INtLpyd1M7v7Aj69puD6yzRNR08sOUCyMtV7SjLoYNfRydIHaOPmE5wLiiElKmHG2taStuGqadahgIVYdvnAxyhYCVZusakWYL2KMkMr/BOjJgFUXzCaYpPcXRGh/6oX3Z6aK57q4hHAAAAAElFTkSuQmCC'),auto;
  width:100%;
  margin:0;
}

